  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/checkout@v4
        with:
          repository: ERGO-Code/HiGHS
          ref: v1.7.0
          path: highs-tmp
      - name: Move HiGHS source
        shell: cmd
        run: |
          robocopy highs-tmp\ . /E /XD .git .github
          rmdir /s /q highs-tmp
          exit 0
      - name: Build
        shell: bash
        run: |
          cmake --preset static-win && cmake --build --preset win
      - name: Pack
        shell: bash
        run: |
          BIN=$(find build-static-win -name highs.exe)
          strip "$BIN" && upx -9 "$BIN" || true
          7z a highs-portable-win64.zip "$BIN"
      - uses: actions/upload-artifact@v4
        with:
          name: highs-portable-win64.zip
          path: highs-portable-win64.zip
